# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
import('methods')
import('Biobase')
import('CGHbase')
import('CGHcall')

importFrom('DNAcopy', 'CNA')
importFrom('DNAcopy', 'segment')
importFrom('DNAcopy', 'smooth.CNA')

importFrom('matrixStats', 'binCounts')
importFrom('matrixStats', 'colMedians')
importFrom('matrixStats', 'madDiff')
importFrom('matrixStats', 'sdDiff')

importFrom('R.cache', 'getCachePath')
importFrom('R.cache', 'loadCache')
importFrom('R.cache', 'saveCache')

importFrom('R.utils', 'downloadFile')

importFrom('Rsamtools', 'scanBam')
importFrom('Rsamtools', 'ScanBamParam')
importFrom('Rsamtools', 'scanBamFlag')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#exportPattern('^[[:alpha:]]+')

export('downloadBinAnnotations')
export('binReadCounts')
export('readCountPlot')
export('noisePlot')
export('correctBins')
export('poolRuns')
export('addPhenodata')
export('compareToReference')
export('normalizeBins')
export('plot')
export('highlightFilters')
export('applyFilters')
export('segmentBins')
export('callBins')
export('frequencyPlot')
export('makeCgh')

export('createBins')
export('calculateMappability')
export('calculateBlacklist')
export('iterateResiduals')

export('chromosomes')
export('bpstart')
export('bpend')

exportClasses('QDNAseqReadCounts')

# EOF
