# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
import("methods")
import("Biobase")
import("CGHbase")
import("CGHcall")

importFrom("DNAcopy", "CNA")
importFrom("DNAcopy", "segment")
importFrom("DNAcopy", "smooth.CNA")

importFrom("matrixStats", "binCounts")
importFrom("matrixStats", "colMedians")
importFrom("matrixStats", "madDiff")
importFrom("matrixStats", "sdDiff")

importFrom("R.cache", "getCachePath")
importFrom("R.cache", "loadCache")
importFrom("R.cache", "saveCache")

importFrom("R.utils", "downloadFile")

importFrom("Rsamtools", "scanBam")
importFrom("Rsamtools", "ScanBamParam")
importFrom("Rsamtools", "scanBamFlag")

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#exportPattern("^[[:alpha:]]+")

export("addPhenodata")
export("applyFilters")
export("binReadCounts")
export("callBins")
export("compareToReference")
export("correctBins")
export("downloadBinAnnotations")
export("estimateCorrection")
export("frequencyPlot")
export("highlightFilters")
export("isobarPlot")
export("makeCgh")
export("noisePlot")
export("normalizeBins")
export("normalizeSegmentedBins")
export("plot")
export("poolRuns")
export("segmentBins")
export("smoothOutlierBins")

export("createBins")
export("calculateMappability")
export("calculateBlacklist")
export("iterateResiduals")

export("chromosomes")
export("bpstart")
export("bpend")

export("madDiff")
export("sdDiff")

exportClasses("QDNAseqCopyNumbers")
exportClasses("QDNAseqReadCounts")

# EOF
